# Python Introduction

## 1. Numbers: Integers and Floats


Numbers in Python are mainly of two types:

- int  → Whole numbers like 1, -5, 0

- float → Decimal numbers like 2.3, -4.5

In [1]:
print(5)        # int
print(3.14)     # float

5
3.14

In [2]:
# checking data types:

print(type(5))      # <class 'int'>
print(type(3.14))   # <class 'float'>

<class 'int'>
<class 'float'>

In [3]:
# arithmetic operations:

print(3 + 2.5)      # 5.5
print(4 * 10)       # 40
print(10 / 2)       # 5.0
print(2 ** 3)       # 8
print(7 % 2)        # 1

5.5
40
5.0
8
1

## 2. Strings

A string is text enclosed in quotes.

In [4]:
name = "Jane Doe"
print(name)

Jane Doe

In [5]:
# concatenating strings
print("Hello" + " " + "")

Hello

In [6]:
# repeating strings
print("Welcome! " * 3)

Welcome! Welcome! Welcome!

## 3. Variable Assignment

In [7]:
# assigning values to variables
number = 10
name = "Jane Doe"
print(number)
print(name)

10
Jane Doe

In [8]:
# updating a variable
number = number + 5
number += 5
print(number)

20

## 4. String Operations

In [9]:
name = "Jane Doe"
print(len(name))           # character count
print(name.upper())        # to uppercase
print(name.capitalize())   # first letter capitalized
print(name.replace("n", "N"))  # replace letter

8
JANE DOE
Jane doe
JaNe Doe

## 5. Indexing and Slicing

In [10]:
word = "Python"
print(word[0])     # first character
print(word[-1])    # last character
print(word[1:4])   # characters from index 1 to 3

P
n
yth

## 6. Print Function

In [11]:
# printing multiple items
name = "Jane Doe"
print("Welcome", name)

Welcome Jane Doe

In [12]:
# using separators
print("First", "Last", sep="-")  # first-Last

First-Last

## 7. Input Function (User Input)

In [13]:
name = input("Enter your name: ")
print("Welcome", name)

Enter your name: Jane Doe
Welcome Jane Doe

In [14]:
age = int(input("Enter your age: "))
print("Next year, you will be", age + 1)

Enter your age: 22
Next year, you will be 23

## 8. Loops

### For Loop

In [15]:
# basic usage
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [16]:
# 2. for loop with range
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [17]:
# looping with indexes – using enumerate
for index, fruit in enumerate(fruits):
    print(f"Fruit at index {index}: {fruit}")

Fruit at index 0: apple
Fruit at index 1: banana
Fruit at index 2: cherry

In [18]:
# nested for loops – multiplication table
print("Multiplication Table:")
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} x {j} = {i*j}")
    print("-----")

Multiplication Table:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
-----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
-----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-----

### While Loop

A while loop continues to run as long as a condition is true.

In [19]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

## 9. List Comprehensions

In [20]:
# simple filtering
numbers = [1, 2, 3, 4, 5, 6]
squares = [n**2 for n in numbers]
evens = [n for n in numbers if n % 2 == 0]
print("Squares:", squares)
print("Even numbers:", evens)

Squares: [1, 4, 9, 16, 25, 36]
Even numbers: [2, 4, 6]

In [21]:
# nested
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print("Matrix:", matrix)

Matrix: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

## 10. Functions

In [22]:
# defining a function
def greet(name):
    print("Hello,", name)

greet("Jane Doe")

Hello, Jane Doe

In [23]:
# function with return value
def square(n):
    return n * n

result = square(5)
print("Square of 5:", result)

Square of 5: 25

In [24]:
# function with default argument
def welcome(name="Guest"):
    print("Welcome,", name)

welcome("Jane Doe")
welcome()

Welcome, Jane Doe
Welcome, Guest

In [25]:
# function with Multiple Parameters
def calculate_area(width, height):
    return width * height

area = calculate_area(5, 3)
print("Area:", area)

Area: 15

In [26]:
# lambda Function – inline small function
add = lambda x, y: x + y
print("Lambda Add:", add(2, 3))

Lambda Add: 5

## 11. Conditional Statements

Conditional statements help you make decisions in your program:

In [27]:
age = 20

if age < 18:
    print("Minor")
elif age < 65:
    print("Adult")
else:
    print("Senior")

Adult

## 12. Built-in Functions

Python provides many built-in functions to work with data.

In [28]:
numbers = [3, 7, 2, 9, 4]

print("Max:", max(numbers))       # Largest number
print("Min:", min(numbers))       # Smallest number
print("Sum:", sum(numbers))       # Total of all elements
print("Length:", len(numbers))    # Number of elements
print("Type of numbers:", type(numbers))  # Type of the variable

Max: 9
Min: 2
Sum: 25
Length: 5
Type of numbers: <class 'list'>

## 13. Type Casting

Convert between data types using casting functions:

In [29]:
x = "5"
y = int(x)        # convert string to integer
z = float(x)      # convert string to float

print("Converted to int:", y)
print("Converted to float:", z)

Converted to int: 5
Converted to float: 5.0

## 14. Boolean Logic & Comparison Operators

In [30]:
# comparison operators

a = 10
b = 5

print(a > b)      # true
print(a == b)     # false
print(a != b)     # true

True
False
True

In [31]:
# logical operators

print(a > 5 and b < 10)   # true
print(a < 5 or b < 10)    # true
print(not a == b)         # true

True
True
True